@font-face {
    font-family: 'Oxanium';
    src: url(fonts/Oxanium-Light.woff);
}

body {
    color: lightgray;
    font-family: 'Oxanium';
    font-size: 1rem;
    max-width: 60rem;
    margin-left: 25%;
    background-color: #060606;
    padding: 0.6rem;
    text-align: center;
}
@media screen and (max-width: 1400px){
    body {
        margin-left: 0rem;
    }
    
}
@media screen and (min-width: 2560px){
    body {
        margin-left: 33.3%;
    }
} 
@media screen and (max-width: 800px){
    body {
        min-width: 30rem;
    }
    nav {
        text-align: center;
    }
    .videos {
        flex-direction: column;
        min-width: 200px;
    }
    .heythere {
        flex-direction: column;
    }
    .logo {
        min-width: 50px;
        max-width: 200px;
        margin-left: 33.3%;
    }
    .credit {
        margin-right: 50%;
    }
    
}
a:link {
    color: turquoise;
    text-decoration: none;
}

a:visited {
    color: turquoise;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: indianred;
    text-decoration: underline;
}

a:active {
    color: indianred;
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: right;
}

nav {
    font-family: 'Oxanium';
    font-size: 1.125rem;
    padding: 0.6rem;
    text-align: right;
}

.videos {
    display: flex;
    justify-content: space-evenly;
}

.video-container , .video-container2 {
    padding: 0.3rem;
}

.intro {
    color: lightgray;
    display: flex;
    font-size: 1rem;
}

.heythere {
    display: flex;
    justify-content: space-evenly;
}

.credit {
    color: lightgray;
    font-size: 0.85rem;
}
