@font-face {
    font-family: 'Oxanium';
    src: url(fonts/Oxanium-Light.woff);
}


body {
    color: lightgray;
    font-family: 'Oxanium';
    font-size: 1rem;
    max-width: 60rem;
    margin-left: 30rem;
    background-size: 100%;
    background-color: #060606;
    padding: 0.6rem;
    text-align: center;
}

a:link {
    color: turquoise;
    text-decoration: none;
}

a:visited {
    color: turquoise;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: indianred;
    text-decoration: underline;
}

a:active {
    color: yellow;
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: right;
}

nav {
    font-family: 'Oxanium';
    font-size: 1.125rem;
    padding: 0.6rem;
    text-align: right;
}

.videos {
    display: flex;
    justify-content: space-evenly;
}

.video-container {
    padding: 0.3rem;
}
.video-container2 {
    padding: 0.3rem;
}
.intro {
    color:lightgray;
    display: flex;
    font-size: 1rem;
}
.heythere {
    display: flex;
    justify-content: space-evenly;
}
.credit {
    color:lightgray;
    font-size: 0.85rem;
}
